<div class="header">
  <div class="navigation">
    <ul id="ops">
      <li>
        <a href="/home"><%= localize_var(:label_home) %></a>
      </li>
      <li>
        <a href="/categories"><%= localize_var(:label_article_categories) %></a>
      </li>
      <li>
        <a href="/articles"><%= localize_var(:label_articles) %></a>
      </li>
      <li>
        <a href="#"><%= localize_var(:label_contact) %></a>
      </li>
      <li id="me">
        <label><%= localize_var(:label_login) %></label>
        <ul id="me_options">
          <li>
            <a href="/signin"><%= localize_var(:label_login) %></a>
          </li>
          <li>
            <a href="/signup"><%= localize_var(:label_register) %></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>