<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render "/layouts/header" %>

<% flash.each do |_, value| %>
  <div><%= value %></div>
<% end %>

<%= yield %>
<%= render "/layouts/footer" %>
</body>

</html>
